.navbar {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    z-index: 20;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: #cccccc;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.7);
    border-color: rgba(255,255,255,.7);
}