@import './_variables.scss';

@import '~bootstrap/dist/css/bootstrap.min.css'; // import bootstrap


html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: -webkit-linear-gradient(to right, $bg-left, $bg-right);
    background: linear-gradient(to right, $bg-left, $bg-right);
}

* {
    font-family: 'Raleway', cursive;
    color: white;
}